<nav class="nav-primary hidden-xs">
    <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Start</div>
    <ul class="nav nav-main" data-ride="collapse">
        <li ui-sref-active="active">
            <a ui-sref="overview">
                <i class="i i-statistics icon">
                </i>
                <span class="font-bold">Overview</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                <i class="i i-stack icon">
                </i>
                <span class="font-bold">Client</span>
            </a>
            <ul class="nav dk">
                <li ui-sref-active="active">
                    <a ui-sref="create_new_client">
                        <i class="i i-dot"></i>

                        <span>Create New</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="history_client" class="auto">
                        <i class="i i-dot"></i>

                        <span>History</span>
                    </a>
                </li>
            </ul>
        </li>
        <li >
            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                <i class="i i-lab icon">
                </i>
                <span class="font-bold">Order</span>
            </a>

        </li>
        <li >
            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                <i class="i i-docs icon">
                </i>
                <span class="font-bold">Inventory</span>
            </a>
            <ul class="nav dk">
                <li >
                    <a href="profile.html" class="auto">
                        <i class="i i-dot"></i>

                        <span>Add New</span>
                    </a>
                </li>
                <li >
                    <a href="invoice.html" class="auto">
                        <i class="i i-dot"></i>

                        <span>To buy</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>