<section class="hbox stretch">
    <section>
        <section class="vbox">
            <section class="scrollable padder">
                <section class="row m-b-md">
                    <section class="col-lg-4">
                        <h2> Client: Add</h2>
                        <hr/>
                        <form name="clientAddForm" class="form-horizontal" ng-controller="ClientAddFormCtrl" novalidate>

                            <div class="form-group has-feedback" ng-class="{'has-error':!clientAddForm.username.$valid}">
                                <label for="inputUsername" class="control-label col-sm-3">Username:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="inputUsername" name="username" ng-model="username" valid-username />
                                    <div ng-show="!!clientAddForm.username.$error.isBlank">
                                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span class="sr-only">(error)</span>
                                        <p class="help-block">Username cannot be blank</p>
                                    </div>
                                    <div ng-show="!!clientAddForm.username.$error.invalidChars">
                                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span class="sr-only">(error)</span>
                                        <p class="help-block">Username has invalid Charectors.</p>
                                    </div>
                                    <div ng-show="!!clientAddForm.username.$error.invalidLen">
                                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span class="sr-only">(error)</span>
                                        <p class="help-block">Username has to be between 5 to 20 charectors.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group" ng-class="{error:!clientAddForm.password.$valid}">
                                <label for="inputPassword" class="control-label">Password:</label>
                                <div class="controls">
                                    <input type="text" id="inputPassword" name="password" ng-model="password" valid-password />
                                    <div class="help-inline">
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!!clientAddForm.password.$error.isBlank">Password Required.</span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!!clientAddForm.password.$error.isWeak">Must contain one upper &amp; lower case letter and a non-letter (number or symbol.)</span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!!clientAddForm.password.$error.invalidLen">Must be 8-20 characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group" ng-class="{error:!clientAddForm.password_c.$valid}">
                                <label for="password_c" class="control-label">Confirm Password:</label>
                                <div class="controls">
                                    <input type="text" id="password_c" name="password_c" ng-model="password_c" valid-password-c />
                                    <div class="help-inline">
                                        <span ng-show="!!clientAddForm.password_c.$error.isBlank">Confirmation Required.</span>
                                        <span ng-show="!!clientAddForm.password_c.$error.noMatch">Passwords don't match.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions" ng-show="formAllGood()">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>

                        </form>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>